.falling-man{
  margin: 0 auto;
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);

  &__img{
    display: block;
    background-image: url("../img/fall1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 65px;
    width: 140px;
    position: relative;
    animation-name: man-fall;
    animation-duration: 0.2s ;
    animation-iteration-count: infinite;
    &:before{
      top:-20px;
      left: 16px;
      position: absolute;
      content: "";
      width: 1px;
      height: 20px;
      background: white;
    }
    &:after{
      top:-14px;
      left: 6px;
      position: absolute;
      content: "";
      width: 1px;
      height: 30px;
      background: white;
    }
  }
}
@keyframes man-fall {
  0%{
    //transform: translateY(1px);
  }
  25%{
    background-image: url("../img/fall2.png");
  }
  50{
    background-image: url("../img/fall3.png");
  }
  75{
    background-image: url("../img/fall4.png");
  }
  100%{
    //transform: translateY(0);
    background-image: url("../img/fall1.png");
  }
}