.header{
	height: 50px;
	width: 100%;
}

.nav{
	
	@include flex-mixin(row, flex-end, center);
	background: $purple;
	padding: 0 50px;
	
}

.navbar{
	@include list-reset;
	@include flex-mixin(row, center, flex-end);
	height: 50px;
	&__item{
		display: inline-block;
		margin-left: 25px;
	}
	&__link{
		color: white;
		font-size: 1.5rem;
		transition: all 0.2s ease-in-out;
		
		&:hover{
			text-shadow: 2px 2px 2px $pink;
		}
	}
}