.hero{
	@include flex-mixin(row, center, center);
	margin: 0;
	height: calc(100vh - 75px);
	background: linear-gradient($purple, $blue);
    background-repeat: no-repeat;  
}
.intro{
	color: white;
	text-align: center;
	&__name{
		margin: 0;
		font-size: 10vw;
		text-shadow: 2px 2px 2px $purple,
					-2px -2px 2px $purple,
					2px -2px 2px $purple,
					-2px 2px 2px $purple,
					4px 0px 2px $pink,
					-4px 0px 2px $pink,
					4px 4px 2px $pink,
					-4px -4px 2px $pink,
					4px -4px 2px $pink,
					-4px 4px 2px $pink,
					0px 4px 2px $pink,
					0px -4px 2px $pink;
	}
	&__slogan{
		font-size: 2vw;
	}

}