.main{
  background: linear-gradient($blue, $indigo, $orange);
  background-repeat: no-repeat;

  &-section{
    @include flex-mixin(column, center, flex-start);
    padding: 0 8vw;
    height: 320px;
    color: white;

    &:nth-child(even){
      @include flex-mixin(column, center, flex-end);

      .main-section__text{
        text-align: right;
      }
    }
    &__heading{
      margin: 0;
      margin-bottom: 20px;
      font-size: 4vw;
      letter-spacing: 0.2vw;
      text-shadow: 2px 2px 2px $pink,
      -2px -2px 2px $pink,
      2px -2px 2px $pink,
      -2px 2px 2px $pink;
    }
    &__text{
      font-size: 1.3vw;
      letter-spacing: 0.2vw;
      line-height: 1.6;
      strong{
        font-size: 1.5vw;
      }
    }
  }
}
.what{}
.presentation{}
.story{}
.gameplay{}
.objective{}
.shop{}